body {
	background-color: rgba(42, 42, 46, 1);
}
#search {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	padding-top: 5em;
	justify-content: center;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
	padding-top: 5em;
}

#search-box {
	font-height: 1em;
	width: 50em;
	height: 2.5em;
	border-radius: 5px 0 0 5px;
	background-color: rgb(56, 56, 61);
	color: white;
	border-right-color: rgb(56, 56, 61);
}
#search-button {
	height: 3em;
	border-radius: 0 5px 5px 0;
	background-color: rgb(56, 56, 61);
	color: white;
	border-left-color: rgb(56, 56, 61);
}